.u-section-1 .u-sheet-1 {
  min-height: 459px;
}

.u-section-1 .u-form-1 {
  height: 291px;
  width: 570px;
  margin: 54px auto 0;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  padding: 10px 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  margin: 20px auto 47px;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}