.u-section-1 {
  min-height: 948px;
  margin-top: 20px;
}

.u-section-1 .u-shape-1 {
  background-image: none;
  height: 450px;
  margin-top: 150px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-image-1 {
  width: 808px;
  height: 808px;
  object-position: 2.6% 50%;
  background-position: 0% 0%;
  background-image: url("../images/Employee.jpg");
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -600px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-group-1 {
  width: 503px;
  min-height: 418px;
  background-image: none;
  margin: -700px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 28px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  text-align: left;
  margin: 20px 1px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 0.875rem;
  border-style: none;
  margin: 20px auto 0 0;
  padding: 16px 52px 16px 51px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 805px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-image-1 {
    width: 661px;
    height: 661px;
    margin-top: -428px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 392px;
    min-height: 392px;
    margin-top: -392px;
    margin-bottom: -122px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 891px;
  }

  .u-section-1 .u-image-1 {
    width: 555px;
    height: 555px;
    margin-top: -540px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 385px;
    min-height: 378px;
    margin-top: -172px;
    margin-bottom: -234px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 887px;
  }

  .u-section-1 .u-shape-1 {
    height: 199px;
  }

  .u-section-1 .u-image-1 {
    width: 475px;
    height: 475px;
    margin-top: -356px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -87px;
    margin-bottom: -98px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 767px;
  }

  .u-section-1 .u-shape-1 {
    height: 134px;
    margin-top: 55px;
  }

  .u-section-1 .u-image-1 {
    width: 303px;
    height: 303px;
    margin-top: -209px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 292px;
    margin-top: -24px;
    margin-left: auto;
    margin-bottom: -20px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 697px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 639px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 500px;
  height: 500px;
  background-image: url("../images/Wine.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px 0 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 563px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 100px;
}

.u-section-2 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  text-align: left;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 464px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  margin-top: 20px;
}

.u-section-3 .u-sheet-1 {
  min-height: 1003px;
}

.u-section-3 .u-shape-1 {
  width: 817px;
  height: 524px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1090px;
  margin: -883px 0 -299px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 183px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 30px 50px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 730px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 50px;
}

.u-section-3 .u-image-1 {
  height: 623px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 598px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding-top: 50px;
  padding-left: 130px;
}

.u-section-3 .u-image-2 {
  height: 501px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 315px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 50px 128px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 0.875rem;
  border-style: none;
  margin: 20px auto 0 0;
  padding: 16px 52px 16px 51px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-3 .u-shape-1 {
    width: 681px;
    height: 420px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -779px;
    margin-bottom: -278px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 158px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 630px;
  }

  .u-section-3 .u-image-1 {
    height: 528px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 516px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 90px;
  }

  .u-section-3 .u-image-2 {
    height: 412px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 272px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2074px;
  }

  .u-section-3 .u-shape-1 {
    width: 641px;
    height: 861px;
    margin-top: 417px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 653px;
    margin-top: -1220px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 865px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0 0 0 30px;
  }

  .u-section-3 .u-image-1 {
    height: 835px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 751px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 30px;
  }

  .u-section-3 .u-image-2 {
    height: 691px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 202px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1736px;
  }

  .u-section-3 .u-shape-1 {
    width: 465px;
    height: 741px;
    margin-top: 60px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 480px;
    margin-top: -1100px;
    margin-bottom: -299px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 569px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 604px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 648px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 588px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1393px;
  }

  .u-section-3 .u-shape-1 {
    width: 278px;
    height: 450px;
    margin-top: 45px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 298px;
    margin-top: -809px;
    margin-bottom: -314px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 454px;
  }

  .u-section-3 .u-image-1 {
    height: 424px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 473px;
  }

  .u-section-3 .u-image-2 {
    height: 413px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 237px;
  }
} .u-section-4 {
  margin-top: 20px;
}

.u-section-4 .u-sheet-1 {
  min-height: 1147px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-image-1 {
  background-image: url("../images/545345.jpg");
  min-height: 609px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 468px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 60px 0 0;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-4 .u-text-3 {
  text-align: left;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 1077px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 50px;
}

.u-section-4 .u-shape-1 {
  height: 772px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 334px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-image-2 {
  width: 445px;
  height: 375px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -187px auto 0;
}

.u-section-4 .u-group-1 {
  width: 419px;
  min-height: 556px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -922px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 20px;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 0.875rem;
  border-style: none;
  margin: 20px auto 0 0;
  padding: 16px 52px 16px 51px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 502px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 386px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 822px;
  }

  .u-section-4 .u-shape-1 {
    height: 700px;
  }

  .u-section-4 .u-image-2 {
    width: 345px;
    height: 333px;
    margin-top: -389px;
  }

  .u-section-4 .u-group-1 {
    width: 395px;
    margin-top: -880px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-4 .u-image-1 {
    min-height: 385px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 750px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-4 .u-shape-1 {
    height: 654px;
    width: 305px;
  }

  .u-section-4 .u-image-2 {
    width: 268px;
    height: 272px;
    margin-top: -343px;
  }

  .u-section-4 .u-group-1 {
    width: 305px;
    margin-top: -546px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-4 .u-image-1 {
    min-height: 578px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-4 .u-shape-1 {
    height: 772px;
  }

  .u-section-4 .u-image-2 {
    width: 461px;
    height: 323px;
    margin-top: 311px;
  }

  .u-section-4 .u-group-1 {
    width: 362px;
    margin-top: -597px;
    margin-left: -10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 40px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-4 .u-image-1 {
    min-height: 364px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 593px;
  }

  .u-section-4 .u-image-2 {
    width: 280px;
    height: 190px;
  }

  .u-section-4 .u-group-1 {
    width: 330px;
    margin-top: -464px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 953px;
}

.u-section-5 .u-shape-1 {
  height: 230px;
  background-image: none;
  animation-timing-function: ease;
  width: 606px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-1 {
  width: 536px;
  min-height: 740px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -148px 51px 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-5 .u-text-1 {
  text-align: left;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  text-align: left;
  margin: 81px 0 0;
}

.u-section-5 .u-image-1 {
  height: 514px;
  width: 514px;
  background-image: url("../images/jjj.jpg");
  background-position: 50% 50%;
  text-align: start;
  margin: -707px auto 0 0;
}

.u-section-5 .u-shape-2 {
  height: 478px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 101px;
  margin-bottom: -255px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-shape-1 {
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
    transform-origin: center center;
    margin-top: -2426px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -821px;
    height: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-shape-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-shape-1 {
    width: 540px;
    margin-top: -2160px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -522px;
    margin-right: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
    margin-top: -1360px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-top: 378px;
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-image-1 {
    height: 340px;
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 629px;
}

.u-section-6 .u-shape-1 {
  width: 289px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-6 .u-layout-cell-1 {
  background-image: none;
  min-height: 190px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 90px 30px 20px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 12px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 2px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 328px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  margin: 12px 60px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 2px 58px 0 3px;
}

.u-section-6 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 46px 60px 0 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 84px;
  min-width: 52px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
  color: rgb(218, 31, 50) !important;
}

.u-section-6 .u-image-1 {
  min-height: 600px;
  background-image: url("../images/Exterior.jpg");
  background-position: 50% 25%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 157px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 270px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-6 .u-shape-1 {
    width: 240px;
    left: auto;
    right: 202px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 60px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 60px;
  }

  .u-section-6 .u-image-1 {
    min-height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-6 .u-shape-1 {
    width: 274px;
    right: -50px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 245px;
    padding-left: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 245px;
    padding-left: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 409px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-6 .u-shape-1 {
    width: 142px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 105px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 105px;
  }

  .u-section-6 .u-image-1 {
    min-height: 258px;
  }
}